# Ignore backend folders for language stats
backend/.cargo/* linguist-vendored
backend/.sqlx/* linguist-vendored
backend/.idea/* linguist-vendored
backend/target/* linguist-vendored
backend/migrations/* linguist-vendored
frontend/src/lib/components/icons/* linguist vendored
